/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

@font-face {
    font-family: 'next-demi-bold';
    font-weight: bold;
    font-style: normal;
    src: url(assets/fonts/AvenirNext-DemiBold.ttf);
}

@font-face {
    font-family: 'next-regular';
    font-weight: bold;
    font-style: normal;
    src: url(assets/fonts/AvenirNext-Regular.ttf);
}

[class*='col-'] {
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
}
[class*='col-']:last-of-type {
    padding-right: 0;
}
a {
    text-decoration: none;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.grid {
    margin: 0;
}
.col-1-4 {
    width: 25%;
}
.grid-pad {
    padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
    padding-right: 20px;
}
@media (max-width: 1024px) {
    .grid {
        margin: 0;
    }
}
.car-card {
    max-width: 400px;
    margin: 25px;
}