<div id="search-component">
  <section class="form-section-margin">
    <form #filterCarForm= "ngForm" (ngSubmit)="filterCars(filterCarForm)">
        <section class="form-section-margin">           
          <mat-form-field class="form-elem-margin">
            <mat-label>Select a color</mat-label>
            <mat-select [(value)]="selectedColor">  
              <mat-option value="">None</mat-option>            
              <mat-option *ngFor="let color of colors" [value]="color.name">
                  {{ color.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </section>            

        <section class="form-section-margin">
          <mat-checkbox *ngFor="let ch of checkboxes"            
            class="form-elem-margin"
            [labelPosition]="after"
            [(ngModel)]="ch.selected" value={{ch.value}} id={{ch.value}} name={{ch.value}}>
            {{ch.name}}
          </mat-checkbox>
      </section>

      <section class="form-section-margin">
        <div class="form-elem-margin">
          <button mat-raised-button color="primary">Search</button>
        </div>
      </section>  
    </form>
  </section>  

  <section class="form-section-margin">
    <mat-card *ngFor="let car of cars" class="col-1-4 car-card">
      <mat-card-header>          
        <mat-card-title>{{car.year}} {{car.make | uppercase}}</mat-card-title>
        <mat-card-subtitle>${{car.price}}</mat-card-subtitle>
      </mat-card-header>        
      <mat-card-content>
        <p><span>Color: </span>{{car.color}}</p>
        <p><span>Sunroof: </span>{{car.hasSunroof ? 'Yes' : 'No'}}</p>
        <p><span>Four Wheel Drive: </span>{{car.isFourWheelDrive ? 'Yes' : 'No'}}</p>
        <p><span>Low Mileage: </span>{{car.hasLowMiles ? 'Yes' : 'No'}}</p>
        <p><span>Power Windows: </span>{{car.hasPowerWindows ? 'Yes' : 'No'}}</p>
        <p><span>Navigation: </span>{{car.hasNavigation ? 'Yes' : 'No'}}</p>
        <p><span>Heated Seats: </span>{{car.hasHeatedSeats ? 'Yes' : 'No'}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary">Details</button>          
      </mat-card-actions>
    </mat-card>
  </section>
</div>
